<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>在线团队协同课程教学系统</title>
    <!-- Bootstrap Styles-->
    <link href="/static/4assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/4assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/static/4assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/4assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->

    <link rel="stylesheet" href="/static/4assets/js/Lightweight-Chart/cssCharts.css">

    <link href="http://cdn.bootcss.com/jquery-toggles/2.0.4/toggles.css" rel="stylesheet" >

    <link href="/static/css/index.css" rel="stylesheet" />
</head>

<body style="background-image:url(/static/imgs/bg.jpg);
  -moz-background-size:cover;
  -webkit-background-size:cover;
  -o-background-size:cover;
  background-size:cover;">
    <!--隐藏值，是否获取message-->
    <div style="display:none">
      <input type="text" id="index_if_msg" value="{% if msg %}1{% else %}0{% endif %}">
      {% if msg %}
      {% for i in msg %}
      <input type="text" class="index_msg" value="{{i}}">
      {% endfor %}
      {% endif %}
    </div>
    <!--./隐藏值内容结束-->
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/EducationalSystem/" style="
                  padding-top: 0px;
                  padding-left: 25px;
                  padding-bottom: 0px;
                  padding-right: 15px;">
                  <img src="/static/imgs/logow.png" style="width:200px;height:60px;"></img>
                </a>

          		<div id="sideNav" href="">

          		</div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
            </ul>
        </nav>
        <!--/. NAV TOP  -->

        <div style="padding-top:9%;" class="index_containing">
          <div class="col-lg-6 col-nm-6 col-sm-6 col-xs-6">
            <h3 style="font-size:2.5em; font-weight:normal; color:white;">北航软件学院</h3>
            <h1 style="font-size:3.6em; font-weight:700; color:white;">在线协同团队课程</h1>
            <h1 style="font-size:5em; font-weight:700; color:white;">教学系统</h1>
            <br><br>
            <h2 style="color:white;">
              <span class="glyphicon glyphicon-ok-circle"></span>在线团队管理
            </h2>
            <h2 style="color:white;">
              <span class="glyphicon glyphicon-ok-circle"></span>在线学习交流
            </h2>
          </div>
        </div>

        <form method="post" action="/EducationalSystem/login/">
          <div class="col-lg-4 col-nm-4 col-sm-4 col-xs-4 panel panel-default" style="margin-top:2%;">
            <div class="panel-heading">
                 登录
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="row">
                    <div class="form-horizontal">
                      <div class="form-group">
                        <label class="col-lg-3 col-nm-3 col-sm-3 col-xs-3 control-label">用户名</label>
                        <div class="col-lg-9 col-nm-9 col-sm-9 col-xs-9">
                          <input type="text" class="form-control" id="name" name="name">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 col-nm-3 col-sm-3 col-xs-3 control-label">密码</label>
                        <div class="col-lg-9 col-nm-9 col-sm-9 col-xs-9">
                          <input type="password" class="form-control" id="password" name="password">
                        </div>
                      </div>

                      <!---->
                      <div class="form-group">
                          <label class="col-lg-3 col-nm-3 col-sm-3 col-xs-3 control-label">登录类型</label>
                          <div class="col-lg-9 col-nm-9 col-sm-9 col-xs-9">
                            <div class="btn-group" data-toggle="buttons">
                              <label class="btn btn-default active">
                                <input type="radio" name="type" id="option1" autocomplete="off" value="s" checked>学生
                              </label>
                              <label class="btn btn-default">
                                <input type="radio" name="type" id="option2" autocomplete="off" value="t">教师
                              </label>
                              <label class="btn btn-default">
                                <input type="radio" name="type" id="option3" autocomplete="off" value="e">教务管理员
                              </label>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
               <button id="login" type="submit" class="btn btn-primary">
                  登录
               </button>
            </div>


          </div>
        </form>


        <footer style="position:fixed;bottom:0px;left:0px;width:100%;color:white;">
          <center>
            <p>Copyright &copy; 2017 StormTeam. All rights reserved.</p>
          </center>

				</footer>

    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/static/4assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/static/4assets/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="/static/4assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/static/4assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/4assets/js/morris/morris.js"></script>



	<script src="/static/4assets/js/easypiechart.js"></script>
	<script src="/static/4assets/js/easypiechart-data.js"></script>

	 <script src="/static/4assets/js/Lightweight-Chart/jquery.chart.js"></script>

    <!-- Custom Js -->
    <script src="/static/4assets/js/custom-scripts.js"></script>


    <!-- Chart Js -->
    <script type="text/javascript" src="/static/4assets/js/Chart.min.js"></script>
    <script type="text/javascript" src="/static/4assets/js/chartjs.js"></script>

    <script>
      var msg_status = $('#index_if_msg').val();
      if (msg_status == "1"){
        $('.index_msg').each(function(key,value){
          alert($(this).val());
        })
      }
    </script>

</body>

</html>
