<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>在线协同团队课程教学系统</title>
	<!-- Bootstrap Styles-->
    <link href="/static/4assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="/static/4assets/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href="/static/css/jiaowu.css" rel="stylesheet" />
     <!-- Google Fonts-->
   
    <!--本页引用css-->
   <link href="/static/css/jiaowu_addcourse.css" rel="stylesheet" />
</head>
<body>
    <!--wrapper 是根节点，最外层的div容器-->
    <div id="wrapper">

        <!--最上面的导航栏集成于.headerer-->
        <div class="headerer"></div>


        <!--这个nav是左边的东西-->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
              <!--左边栏的内容-->
              <ul class="nav" id="main-menu">
                  <li>
                      <a href="/EducationalSystem/jiaowu/"><i class="fa fa-fw fa-file"></i> 教务管理</a>
                  </li>
              </ul>
            </div>

        </nav>
        <!--  这个page-wrapper是右边   -->
        <div id="page-wrapper">
          <div class="header">
            <h1 class="page-header">
                 修改课程
            </h1>
            <!--可选择返回的不知道叫什么的东西-->
            <ol class="breadcrumb">
              <li><a href="/EducationalSystem/jiaowu/">教务管理</a></li>
              <li class="active">修改课程</li>
            </ol>
          </div>

            <!--这是我们操作的主题框-->
            <div id="page-inner">
                {% if messages %}
                <div class="row">
                  <div class="col-xs-12">
                    {% for message in messages %}
                      <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{message}}
                      </div>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
                  <!--新增课程表格-->
                  <div class="row">
                      <div class="col-xs-12">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <div class="card-title">
                                      <div class="title">修改课程</div>
                                  </div>
                              </div>
                              <div class="panel-body">
                                  <form class="form-horizontal" action="/EducationalSystem/rewriteCourse/">

                                      <div class="form-group">
                                          <label class="col-sm-2 control-label">选择学期</label>
                                          <div class="col-sm-10">
                                            <select id="selectterm" class="selectpicker" name="selectterm">
                                                {% for t in tm %}
                                                <option value="{{t.id}}">{{t.name}}</option>
                                                {% endfor %}
                                            </select>
                                          </div>
                                      </div>

                                      <!-- 日期时间控件待实现 -->
                                      <div class="form-group">
                                          <label class="col-sm-2 control-label">课程名称</label>
                                          <div class="col-sm-5">
                                              <input type="text" value="{{course.name}}" class="form-control" name="course_name" required>
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label class="col-sm-2 control-label">课程时间</label>
                                          <div class="col-sm-3">
                                              <input type="text" value="{{course.time}}" class="form-control" name="course_time" required>
                                          </div>
                                      </div>
										<!--<div class="form-group">-->
                                          <!--<label class="col-sm-2 control-label">授课教师</label>-->
                                          <!--<div class="col-sm-3">-->
                                              <!--<input type="text" class="form-control" name="course_teacher" required>-->
                                          <!--</div>-->
                                      <!--</div>-->

                                      <div class="form-group shiyi_teacherid">
                                          <label class="col-sm-2 control-label">教师工号</label>
                                          <div class="col-sm-3" id="teacherid_0">
                                              <input type="text" class="form-control" name="course_teacherid_0" required>
                                          </div>
                                          <div class="col-sm-7">
                                            <a class="btn btn-primary btn-sm" id="teacherid_attachment_add"><span class="glyphicon glyphicon-plus"></span></a>
                                            <a class="btn btn-danger btn-sm shiyi_hide" id="teacherid_attachment_rm"><span class="glyphicon glyphicon-minus"></span></a>
                                          </div>
                                      </div>

                                      <!--
                                      <div class="form-group shiyi_teacherid" id="teacherid_0">
                                          <label class="col-sm-2 control-label"></label>
                                          <div class="col-sm-3">
                                              <input type="text" class="form-control" name="course_teacherid_0" required>
                                          </div>
                                      </div>
                                      -->
                                      <div id="multi-teacherid-holder"></div>

                                      <div class="form-group">
                                          <label class="col-sm-2 control-label">上课地点</label>
                                          <div class="col-sm-3">
                                              <input type="text" value="{{course.location}}" class="form-control" name="course_location" required>
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label class="col-sm-2 control-label">课程学分</label>
                                          <div class="col-sm-3">
                                              <!--仅可输入数字和小数点-->
                                              <input type="text" value="{{course.credit}}" class="form-control" name="course_point" required placeholder="仅可输入整数和小数" onkeyup="value=value.replace(/[^\d\.]/g,'')" onblur="value=value.replace(/[^\d\.]/g,'')">
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label class="col-sm-2 control-label">课时</label>
                                          <div class="col-sm-3">
                                              <!--仅可输入数字-->
                                              <input type="text" value="{{course.hour}}" class="form-control" name="course_timelength" required placeholder="仅可输入整数" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')">
                                          </div>
                                      </div>
                                      <div class="form-group" style="display:none;">
                                          <label class="col-sm-2 control-label">课程id</label>
                                          <div class="col-sm-3">
                                              <input type="text" value="{{course.id}}" class="form-control" name="course_id">
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <div class="col-sm-offset-2 col-sm-10">
                                              <button type="submit" class="btn btn-default">提交</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
             <!-- /. PAGE INNER  -->
        </div>
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->

    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/static/4assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="/static/4assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/static/4assets/js/jquery.metisMenu.js"></script>
      <!-- Custom Js -->
    <!--<script src="assets/js/custom-scripts.js"></script>-->
    <!--添加教务、学生、教师页头部js-->
    <script src="/static/js/addheader.js"></script>
    <!--本页引用js-->
    <script src="/static/js/jiaowu_addcourse.js"></script>
</body>
</html>