<!--这个nav是左边的东西-->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <!--左边栏的内容-->
        <ul class="nav" id="main-menu">
            <li>
                <a href="#" id="magry_info"><i class="fa fa-fw fa-file"></i> 基本信息</a>
            </li>
            <li>
                <a href="#" id="magry_source"><i class="fa fa-fw fa-file"></i> 资源</a>
            </li>
            <li>
                <a href="#" id="magry_assign"><i class="fa fa-fw fa-file"></i> 作业</a>
            </li>
            <li>
                <a href="#" id="magry_team"><i class="fa fa-fw fa-file"></i> 团队<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">团队列表</a>
                    </li>
                    <li>
                        <a href="#">我的团队</a>
                    </li>
                    <li>
                        <a href="#">组建团队</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" id="magry_chat"><i class="fa fa-fw fa-file"></i> 交流</a>
            </li>
        </ul>
    </div>
</nav>
<script>
//alert(window.location.pathname);
$(document).ready(function(){
  var i=$('#cou_id_holder').val();
  //还没有解决在单个作业的子目录下的跳转问题
  $('#magry_info').click(function(){
    var content="/EducationalSystem/student/course/";
    content+=i;
    content+="/";
    window.location.pathname=content;
  })
  /*$('#magry_sourse').click(function(){
    var content="/EducationalSystem/teacher/course/";
    content+=i;
    content+="/";
    window.location.pathname=content;
  })*/
  $('#magry_assign').click(function(){
    var content="/EducationalSystem/student/CouAsn/";
    content+=i;
    content+="/";
    window.location.pathname=content;
  })
  /*$('#magry_team').click(function(){
    var content="/EducationalSystem/teacher/course/";
    content+=i;
    content+="/";
    window.location.pathname=content;
  })*/
  $("#magry_chat").click(function () {
      var content="/EducationalSystem/chat_index/";
    content+=i;
    content+="/";
    window.location.pathname=content;
  })
})
//var location = window.location.pathname.toString();
</script>
<script src="/static/4assets/js/custom-scripts.js"></script>