<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>Bootstrap HTML5 Admin Template</title>
    <!-- Bootstrap Styles-->
    <link href="/static/4assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/4assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/static/css/jiaowu.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />


    <link href="/static/css/jiaowu.css" rel="stylesheet" />

</head>
<body>
<!--wrapper 是根节点，最外层的div容器-->
<div id="wrapper">

    <!--最上面的导航栏集成于.headerer-->
    <div class="headerer"></div>


    <!--这个nav是左边的东西-->
    <div class="student_left"></div>
    <div style="display:none;">
      <input id="cou_id_holder" value="{{cou.id}}" >
    </div>

    <!--  这个page-wrapper是右边   -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                我的团队
            </h1>
            <!--可选择返回的不知道叫什么的东西-->
            <ol class="breadcrumb">
                <li><a href="/EducationalSystem/student/">{{cou.name}}</a></li>
                <li class="active">我的团队</li>
            </ol>
        </div>

        <!--这是我们操作的主题框-->
        <div id="page-inner">
            <div class="row">
                <div class="col-xs-12" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">团队情况</div>
                            </div>
                        </div>
                        <div class="panel-body">
                          您当前不在任何团队中。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
</div>
<!-- /. PAGE WRAPPER  -->

<!-- /. WRAPPER  -->

<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/static/4assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/static/4assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="/static/4assets/js/jquery.metisMenu.js"></script>
<!-- Custom Js -->
<!--<script src="assets/js/custom-scripts.js"></script>-->
<!--添加教务、学生、教师页头部js-->
<script src="/static/js/addheader.js"></script>
<!--添加教师页nav左边js-->
<script src="/static/js/add_student_left.js"></script>

<script src="/static/js/teacher_set_course_basicinfo.js"></script>

</body>
</html>
