<!--这个nav是左边的东西-->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <!--左边栏的内容-->
        <ul class="nav" id="main-menu">
            <li>
                <a href="#"><i class="fa fa-fw fa-file"></i> 基本信息</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-file"></i> 资源</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-file"></i> 作业</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-file"></i> 团队</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-file"></i> 交流</a>
            </li>
        </ul>
    </div>
</nav>